
## MAC OS
.DS_Store

## VIM
*.swp

## Composer
composer.lock
vendor

## Build
build/


vendor/
composer.lock
composer.phar
.DS_Store
*.swp
.idea
bootstrap/cache/*
storage/logs/*
.phpunit.result.cache
